# Question 10: Python program to establish the database tables in MySQL

In [2]:
import mysql.connector

connectionInstance = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232")

cursor = connectionInstance.cursor()
cursor.execute("CREATE DATABASE termproject")

cursor.execute("SHOW DATABASES")

for y in cursor:
    print(y)

('DatabaseName',)
('information_schema',)
('Laxmi',)
('MyDatabase',)
('MyNewDatabase',)
('mysql',)
('NewDatabase',)
('performance_schema',)
('sys',)
('termproject',)
('TwDatabase',)
('TwDbase',)
('TweetDataBASE',)
('TweetDBASE',)
('twitter',)
('TwitterDBASE',)
('user',)

In [9]:
#connecting the database with "termproject"
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

# now create the Table termproject

cursor = mydatabase.cursor()
cursor.execute("CREATE TABLE MENTAL_PROBLEMS(MENTAL_HEALTH_ID char(50),SERVICE_ID char(50),RESOURCE_ID char(50),STUDENT_ID CHAR(50),DEPRESSION char(50),PANIC_DISORDER char(50),EATING_DISORDER char(50),ANXIETY char(50))")
for Y in cursor:
    print(Y)

In [22]:
#connecting the database with "termproject"
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

# now create the Table termproject

cursor = mydatabase.cursor()
cursor.execute("CREATE TABLE SERVICE(SERVICE_ID char(50),SERVICE_TYPE_ID char(50),MENTAL_HEALTH_ID char(50),PRIMARY_CARE char(50),SERVICE_NAME char(50),SERVICE_DESCRIPTION char(200),PHARMACY char(100))")
for Y in cursor:
    print(Y)

In [3]:
#connecting the database with "termproject"
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

# now create the Table termproject

cursor = mydatabase.cursor()
cursor.execute("CREATE TABLE SERVICE_TYPE(SERVICE_TYPE_ID char(50),SERVICE_ID char(50),PATIENT_SERVICES char(250))")

for Y in cursor:
    print(Y)

In [25]:
#connecting the database with "termproject"
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

# now create the Table termproject

cursor = mydatabase.cursor()
cursor.execute("CREATE TABLE RESOURCE_TYPES(RESOURCE_ID char(50),RESOURCE_TYPE_ID char(50),EMERGENCY_PHONE_NUMBER char(100),STUDENT_SUPPORT_SERVICES char(100),GRADUATE_PERSONAL_SUPPORT char(100),GROUP_COUNSELING char(100),EMPLOYEE_SUPPORT_PROGRAMS char(100),PSYCHOLOGY_TRAINING char(200),FQAs char(100),USEFUL_LINKS char(100))")

for Y in cursor:
    print(Y)

In [9]:
#connecting the database with "termproject"
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

# now create the Table termproject

cursor = mydatabase.cursor()
cursor.execute("CREATE TABLE Re_sources(RESOURCE_ID char(50),RESOURCE_TYPE_ID char(50),STUDENT_ID char(50),RESOURCE_NAME char(200),RESOURCE_DESCRIPTION char(250),RESOURCE_URL char(200))")

for Y in cursor:
    print(Y)

In [16]:
#connecting the database with "termproject"
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

# now create the Table termproject

cursor = mydatabase.cursor()
cursor.execute("CREATE TABLE STUDENTs(STUDENT_ID CHAR(50),MENTAL_HEALTH_ID CHAR(50),AGE CHAR(50),RACE CHAR(100),GENDER CHAR(200),GPA CHAR(100))")
               
for Y in cursor:
    print(Y)

# Question 11: Python program to add information from the website to your database

In [11]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

# Based on the study of 'Mental Health and academic success in college' Percentage of student suffering from depression, panic disorder, eating disorder and anxiety

sql_query = "INSERT INTO MENTAL_PROBLEMS(MENTAL_HEALTH_ID,SERVICE_ID,RESOURCE_ID,STUDENT_ID,DEPRESSION,PANIC_DISORDER,EATING_DISORDER,ANXIETY)VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
value = ("1","11","111","01","14","2","8","3")
cursor.execute(sql_query, value)

mydatabase.commit()
print(cursor.rowcount, value)

1 ('1', '11', '111', '01', '14', '2', '8', '3')

In [23]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

# inserting the single row

sql_query = "INSERT INTO SERVICE(SERVICE_ID,SERVICE_TYPE_ID,MENTAL_HEALTH_ID,PRIMARY_CARE,SERVICE_NAME,SERVICE_DESCRIPTION,PHARMACY)VALUES(%s,%s,%s,%s,%s,%s,%s)"
value = ("11","01","1","comprehensive","Student Mental Health & Counseling","Routine physicals,Diagnosis and treatment of illnesses,Management of chronic conditions,Routine health screenings,Preventive care,Care coordination","MIT Pharmacy serves")
cursor.execute(sql_query, value)

mydatabase.commit()
print(cursor.rowcount, value)

1 ('11', '01', '1', 'comprehensive', 'Student Mental Health & Counseling', 'Routine physicals,Diagnosis and treatment of illnesses,Management of chronic conditions,Routine health screenings,Preventive care,Care coordination', 'MIT Pharmacy serves')

In [4]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

# inserting the values for SERVICE TYPES

sql_query = "INSERT INTO SERVICE_TYPE(SERVICE_TYPE_ID,SERVICE_ID,PATIENT_SERVICES) VALUES (%s,%s,%s)"
value = ("01","01","evaluations consulations, brief treatment, referal nonMIT medical clinicians, urgent care, let chat, group counseling, advice")
cursor.execute(sql_query, value)

mydatabase.commit()
print(cursor.rowcount, value)

1 ('01', '01', 'evaluations consulations, brief treatment, referal nonMIT medical clinicians, urgent care, let chat, group counseling, advice')

In [26]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

# inserting the values of resource types 

sql_query = "INSERT INTO RESOURCE_TYPES(RESOURCE_ID,RESOURCE_TYPE_ID,EMERGENCY_PHONE_NUMBER,STUDENT_SUPPORT_SERVICES,GRADUATE_PERSONAL_SUPPORT,GROUP_COUNSELING,EMPLOYEE_SUPPORT_PROGRAMS,PSYCHOLOGY_TRAINING,FQAs,USEFUL_LINKS)VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
value = ("001","0001","Cambridge Health Alliance: 617-665-1560","617-253-4861 Room 5-104","617-253-4860 Room 3-138","ADHD Information and Skill Group for Graduate Students","MyLife Services","Student Mental Health and Counseling Services pre-doctoral practicum in clinical/counseling psychology","Antidepressants","Mental health and substance abuse benefits for MIT students")
cursor.execute(sql_query, value)

mydatabase.commit()
print(cursor.rowcount, value)

1 ('001', '0001', 'Cambridge Health Alliance: 617-665-1560', '617-253-4861 Room 5-104', '617-253-4860 Room 3-138', 'ADHD Information and Skill Group for Graduate Students', 'MyLife Services', 'Student Mental Health and Counseling Services pre-doctoral practicum in clinical/counseling psychology', 'Antidepressants', 'Mental health and substance abuse benefits for MIT students')

In [12]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

# inserting the resources information

sql_query = "INSERT INTO Re_sources(RESOURCE_ID,RESOURCE_TYPE_ID,STUDENT_ID,RESOURCE_NAME,RESOURCE_DESCRIPTION,RESOURCE_URL)VALUES (%s,%s,%s,%s,%s,%s)"
value = ("001","0001","01","Emergency Phone Numbers","MIT Medical Student Mental Health and Counseling,Massachusetts General Hospital Acute Psychiatric Services,Cambridge Health Alliance","Mental health and substance abuse benefits for MIT students,Mental health and substance abuse benefits for MIT employees,Ulifeline.org,Go Ask Alice!,MedlinePlus")
cursor.execute(sql_query, value)

mydatabase.commit()
print(cursor.rowcount, value)

1 ('001', '0001', '01', 'Emergency Phone Numbers', 'MIT Medical Student Mental Health and Counseling,Massachusetts General Hospital Acute Psychiatric Services,Cambridge Health Alliance', 'Mental health and substance abuse benefits for MIT students,Mental health and substance abuse benefits for MIT employees,Ulifeline.org,Go Ask Alice!,MedlinePlus')

In [3]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

# Based on the study of 'Mental Health and academic success in college' Percentage of student suffering from depression, panic disorder, eating disorder and anxiety

sql_query = "INSERT INTO STUDENTs(STUDENT_ID,MENTAL_HEALTH_ID,AGE,RACE,GENDER,GPA) VALUES (%s,%s,%s,%s,%s,%s)"
value =("01","1","22","Hispanic","Female","2") 
cursor.execute(sql_query, value)

mydatabase.commit()
print(cursor.rowcount, value)

1 ('01', '1', '22', 'Hispanic', 'Female', '2')

# Question 12:  Develop 4 queries and implement a Python program to retrieve results from your MySQL database

In [3]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

sql = "SELECT * FROM MENTAL_PROBLEM WHERE SERVICE_ID ='11'"

   # Execute the SQL command
cursor.execute(sql)
   # Fetch all the rows in a list of lists.
results = cursor.fetchall()
for x in results:
    print(x)

('1', '11', '111', '14', '2', '8', '3')

In [4]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

sql = "SELECT * FROM Re_sources ORDER BY RESOURCE_DESCRIPTION"

   # Execute the SQL command
cursor.execute(sql)
   # Fetch all the rows in a list of lists.
results = cursor.fetchall()
for x in results:
    print(x)

('001', '0001', '110', 'Emergency Phone Numbers', 'MIT Medical Student Mental Health and Counseling,Massachusetts General Hospital Acute Psychiatric Services,Cambridge Health Alliance', 'Mental health and substance abuse benefits for MIT students,Mental health and substance abuse benefits for MIT employees,Ulifeline.org,Go Ask Alice!,MedlinePlus')

In [3]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

# To get the information about the available services 
sql = "SELECT * FROM SERVICE"

   # Execute the SQL command
cursor.execute(sql)
   # Fetch all the rows in a list of lists.
results = cursor.fetchall()
print(results)

[('11', '01', '1', 'comprehensive', 'Student Mental Health & Counseling', 'Routine physicals,Diagnosis and treatment of illnesses,Management of chronic conditions,Routine health screenings,Preventive care,Care coordination', 'MIT Pharmacy serves')]

In [4]:
import mysql.connector

mydatabase = mysql.connector.connect(
     host= "127.0.0.1", 
     user= "root",
     password= "waiwai3232",
     database= "termproject")

cursor = mydatabase.cursor()

# users can limit the result by entering the row number. 
sql = "SELECT* FROM Re_sources LIMIT 1"

   # Execute the SQL command
cursor.execute(sql)
   # Fetch all the rows in a list of lists.
results = cursor.fetchall()
print(results)

[('001', '0001', '110', 'Emergency Phone Numbers', 'MIT Medical Student Mental Health and Counseling,Massachusetts General Hospital Acute Psychiatric Services,Cambridge Health Alliance', 'Mental health and substance abuse benefits for MIT students,Mental health and substance abuse benefits for MIT employees,Ulifeline.org,Go Ask Alice!,MedlinePlus')]